*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body, #contenedor-general{
    width:100%;
    height:100%;
}
#contenedor-general{
    display:flex;
    flex-direction:column;
    background-color: aqua;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
    background-color:transparent;
    font-family:Arial, sans-serif;
}

#filas{
    height: 100px;
    position:relative;
    text-align: center;
    background-color:transparent;
    padding:1%;
  
   
}
#img-icon{
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: gold;
    
    width: 100%;
    max-width: none;
    margin: 0;
}
#anchor-boton{
    width:100%;
    margin-top: auto;
    margin-bottom: auto;
}
#boton-barra{
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    transition: color 0.3s ease;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    background-color: transparent;
    color:#820000;
    border:none;
}
#boton-barra:hover{
    color:#660000; /* Color del texto al pasar el cursor */
    background-color: #FFDF00; /* Fondo al pasar el cursor */
    box-shadow: 4px 6px 8px #00000045; /* Sombra más pronunciada al pasar el cursor */
    transform: scale(1.05);
    border-radius: 15px;
}
#boton-barra:active{
    color:#FFDF00;
    background-color: #660000; /* Fondo al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra menos pronunciada al hacer clic */
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
}
#liga{
   display: inline-block;
   align-items: center;
   background-color: #820000;
    color: gold;
    height: 140px;
    padding:2px;
    text-align: left;
    font-size:2vw;
    
}


@media (max-width: 992px) {
    #boton-barra {
        font-size: 2.5vh;
    }
    #liga{
        display: flex;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 768px) {
    #boton-barra {
        font-size: 2vh;
    }
    #filas{
        height: 60px;
    }
    #liga{
        font-size:2.3vh;
    }
}
@media (max-width: 500px) {
    #boton-barra {
        font-size: 2vh;
    }
    #filas{
        height: 50px;
    }
    #liga{
        font-size:1.7vh;
    }
}
.slide img{
    width: 100%;
    display: block;
}
.slider{
    width:100%;
    display:block;
    
}
.slide{
    position:relative;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3vw;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.prev{
    left:10px;
}
.next{
    right: 10px;
}

.next:hover, .prev:hover{
    color:gold; /* Color del texto al pasar el cursor */   
    box-shadow: 0 6px 8px #00000033; /* Sombra más pronunciada al pasar el cursor */
    transform: scale(1.05);

}
.next:active, .prev:active{
    color:#660000;
}